:root {
    --text-color1: #4b7200;
    --text-color2: #7ec441;
    --bg-color1: #d0d3d5;
    --bg-color2: #23282d;
    --font-size1: 0.65rem;
}


body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #171717;
}


.fw-semibold {
    font-weight: 600;
}

.font1 {
    font-size: calc(var(--font-size1) * 1.2);
}

.font2 {
    font-size: calc(var(--font-size1) * 1.3);
}

.font3 {
    font-size: calc(var(--font-size1) * 1.4);
}

.font4 {
    font-size: calc(var(--font-size1) * 1.5);
}

.font5 {
    font-size: calc(var(--font-size1) * 1.6);
}

.font6 {
    font-size: calc(var(--font-size1) * 1.7);
}

.font7 {
    font-size: calc(var(--font-size1) * 1.8);
}

.font8 {
    font-size: calc(var(--font-size1) * 1.9);
}

.font9 {
    font-size: calc(var(--font-size1) * 2.0);
}

.font10 {
    font-size: calc(var(--font-size1) * 2.1);
}

.txt-color1 {
    color: var(--text-color2);
}

.common-gradient-cta {
    background: rgb(0, 166, 81);
    background: linear-gradient(270deg, rgba(0, 166, 81, 1) 0%, rgba(154, 206, 53, 1) 100%);
}

.header-marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.header-marquee:hover .marquee-item {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.marquee-item {
    display: inline-block;
    will-change: transform;
    -webkit-animation: marquee 25s linear infinite;
    animation: marquee 25s linear infinite;
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.header-marquee {
    background-color: #c8cbce;
    padding: 0.6rem 0;
    color: var(--text-color1);
}

.top-nav .navbar {
    background-color: #7ec441 !important;
}

.top-nav.text-white {
    /* padding-left: 337px; */
    z-index: -1;
    position: relative;
}

main.main-content {
    overflow: hidden;
}

.payment-aside {
    background-color: var(--bg-color2);
    height: 100%;
    /* margin-top: -52px; */
}

.common-zakat-carousel {
    background-color: var(--bg-color1);
}

.common-zakat-carousel .caption-bottom {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    font-size: var(--font-size1);
}

button.owl-prev {
    background: transparent;
    position: absolute;
    top: 40%;
    left: -22px;
    z-index: 9999;
    transform: translate(0, -50%);
}

button.owl-next {
    background: transparent;
    position: absolute;
    top: 40%;
    right: -22px;
    z-index: 9999;
    transform: translate(0, -50%);
}

.payment-aside-block {
    border-bottom: 1px solid #7ec441;
}

.zakat-main-intro-cta button {
    min-width: 196px;
    min-height: 54px;
}

.quick-links-aside {
    background: url("../images/quick-links-bg.jpg");
    height: calc(100% - 115px);
    overflow: hidden;
}

.main-footer {
    background-color: #171717;
}

.main-footer ul li a {
    color: var(--text-color2);
}



@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: 100%;
        justify-content: space-evenly;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }


}